#topstory p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-image {
  max-width: 100%;
}

.article-title {
  margin: 3% 13%;
  text-align: center;
}
